<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            rel="stylesheet">
    <title>銘柄詳細</title>
</head>
<body>
<div class="container">
    <h1>銘柄詳細</h1>

    <p th:if="${error}" class="alert alert-danger" role="alert">
        <th:block th:each="error: ${error}"><!-- 改行コードでsplitしてループ -->
            <th:block th:text="${error}"/>
            <br/>
        </th:block>
    </p>
    <p th:if="${message}" class="alert alert-info" role="alert">
        <th:block th:each="message: ${message}"><!-- 改行コードでsplitしてループ -->
            <th:block th:text="${message}"/>
            <br/>
        </th:block>
    </p>

    <h2 class="form-inline"><p th:text="${corporate.code}">コード</p> : <p th:text="${corporate.name}">会社名</p></h2>

    <div class="container">
        <div class="row">
            <h3>会社情報</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>コード</th>
                    <th>会社名</th>
                    <th>業種</th>
                    <th>EDINETコード</th>
                    <th>資本金</th>
                    <th>決算日</th>
                    <th>みんかぶ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${corporate.code}">証券コード</td>
                    <td th:text="${corporate.name}">会社名</td>
                    <td th:text="${corporate.industry}">業種</td>
                    <td th:text="${corporate.edinetCode}">EDINETコード</td>
                    <td th:text="${corporate.capitalStock}">資本金</td>
                    <td th:text="${corporate.settlementDate}">決算日</td>
                    <td><a th:href="'https://minkabu.jp/stock/'+${corporateView.code}" target="_blank">みんかぶURL</a></td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th>予想PER</th>
                    <th>実績PBR</th>
                    <th>予想ROE</th>
                    <th>普通株式数</th>
                    <th>時価総額</th>
                    <th>予想配当利回り</th>
                    <th>株式優待</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${corporate.per}">予想PER</td>
                    <td th:text="${corporate.pbr}">実績PBR</td>
                    <td th:text="${corporate.roe}">予想ROE</td>
                    <td th:text="${corporate.numberOfShares}">普通株式数</td>
                    <td th:text="${corporate.marketCapitalization}">時価総額</td>
                    <td th:text="${corporate.dividendYield}">予想配当利回り</td>
                    <td th:text="${corporate.shareholderBenefit}">株式優待</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>表示情報</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>提出日</th>
                    <th>最新企業価値</th>
                    <th>平均企業価値</th>
                    <th>標準偏差</th>
                    <th>変動係数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${corporateView.submitDate}">提出日</td>
                    <td th:text="${corporateView.latestCorporateValue}">最新企業価値</td>
                    <td th:text="${corporateView.averageCorporateValue}">平均企業価値</td>
                    <td th:text="${corporateView.standardDeviation}">標準偏差</td>
                    <td th:text="${corporateView.coefficientOfVariation}">変動係数</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th>提出日株価平均</th>
                    <th>株価取得日</th>
                    <th>最新株価</th>
                    <th>割安比率</th>
                    <th>対象年数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${corporateView.averageStockPrice}">提出日株価平均</td>
                    <td th:text="${corporateView.importDate}">株価取得日</td>
                    <td th:text="${corporateView.latestStockPrice}">最新株価</td>
                    <td th:text="${corporateView.discountRate}">割安比率</td>
                    <td th:text="${corporateView.countYear}">対象年数</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th>株価予想</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${corporateView.forecastStock}">みんかぶ株価予想</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>分析情報</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>対象年</th>
                    <th>企業価値</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="analysisResult : ${analysisResults}">
                    <td th:text="${analysisResult.documentPeriod}">対象年</td>
                    <td th:text="${analysisResult.corporateValue}">企業価値</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h3>財務諸表</h3>
        <div th:each="financialStatement : ${financialStatements}">
            <h4 class="form-inline"><p th:text="${financialStatement.periodStart}">対象始年</p>～<p
                    th:text="${financialStatement.periodEnd}">対象終年</p></h4>
            <h4 th:text="${financialStatement.documentTypeName}">書類種別名</h4>
            <div class="row">
                <div class="col-lg-6">
                    <h5>貸借対照表</h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>科目</th>
                            <th>値</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bs : ${financialStatement.bs}">
                            <td th:text="${bs.subject}">科目</td>
                            <td th:text="${bs.value}">値</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6">
                    <h5>損益計算書</h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>科目</th>
                            <th>値</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pl : ${financialStatement.pl}">
                            <td th:text="${pl.subject}">科目</td>
                            <td th:text="${pl.value}">値</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>株価予想</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>対象日付</th>
                    <th>目標株価</th>
                    <th>理論株価</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="minkabu : ${forecastStocks}">
                    <td th:text="${minkabu.targetDate}">対象日付</td>
                    <td th:text="${minkabu.goalsStock}">目標株価</td>
                    <td th:text="${minkabu.theoreticalStock}">理論株価</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>株価</h3>
            <form method="post" th:action="@{/fundanalyzer/v1/import/stock/code}">
                <input type="hidden" name="code" th:value="${corporate.code}"/>
                <button type="submit" class="btn">株価取得</button>
            </form>
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>対象日付</th>
                    <th>終値</th>
                    <th>始値</th>
                    <th>高値</th>
                    <th>安値</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stockPrice : ${stockPrices}">
                    <td th:text="${stockPrice.targetDate}">対象日付</td>
                    <td th:text="${stockPrice.stockPrice}">終値</td>
                    <td th:text="${stockPrice.openingPrice}">始値</td>
                    <td th:text="${stockPrice.highPrice}">高値</td>
                    <td th:text="${stockPrice.lowPrice}">安値</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<a href="search.html" th:href="@{/search}">Back</a> &lt;!&ndash;/* (6) */&ndash;&gt;-->

</div>
</body>
</html>