<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Edinet-Detail</title>
</head>

<body>
<aside>
  <div>
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
          layout:fragment="menu">
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-building"></i>
            <p>
              Corporate
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/index}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'quart'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quart Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'favorite'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Favorite Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item menu-open">
          <a class="nav-link active">
            <i class="nav-icon fa-solid fa-list-check"></i>
            <p>
              Edinet
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-chart-line"></i>
            <p>
              Valuation
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/valuation}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'favorite'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Favorite Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'industry'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Industry Dashboard</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div layout:fragment="contents">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" th:text="'処理詳細 （' + ${edinetDetail.edinetList.submitDate} + '）'">処理詳細</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/v2/index}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/v2/edinet-list}">Edinet Dashboard</a></li>
              <li class="breadcrumb-item active">Edinet-Detail</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <form method="post" th:action="@{/v1/update/edinet-list}">
              <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}" name="date"/>
              <button type="submit" class="btn btn-block btn-outline-secondary">更新して前に戻る</button>
            </form>
          </div>
          <div class="col-6">
            <form method="post" th:action="@{/v1/analyze/date}">
              <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}" name="date"/>
              <button type="submit" class="btn btn-block btn-outline-secondary">分析する</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>総件数</th>
                    <th>処理対象件数</th>
                    <th>処理済件数</th>
                    <th>分析済件数</th>
                    <th>未分析ID</th>
                    <th>処理確認ID</th>
                    <th>未処理件数</th>
                    <th>対象外件数</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td th:text="${edinetDetail.edinetList.countAll}">総件数</td>
                    <td th:text="${edinetDetail.edinetList.countTarget}">処理対象件数</td>
                    <td th:text="${edinetDetail.edinetList.countScraped}">処理済件数</td>
                    <td th:text="${edinetDetail.edinetList.countAnalyzed}">分析済件数</td>
                    <td th:text="${edinetDetail.edinetList.getNotAnalyzedId}">未分析ID</td>
                    <td th:text="${edinetDetail.edinetList.getCantScrapedId}">処理確認ID</td>
                    <td th:text="${edinetDetail.edinetList.countNotScraped}">未処理件数</td>
                    <td th:text="${edinetDetail.edinetList.countNotTarget}">対象外件数</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="border-top border-4"
                     th:each="documentDetail : ${edinetDetail.documentDetailList}">
                  <table class="table">
                    <tbody>
                    <tr data-widget="expandable-table" aria-expanded="true">
                      <td>
                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                        <span th:text="${documentDetail.companyName}">会社名</span>
                      </td>
                    </tr>
                    <tr class="expandable-body">
                      <td>

                        <div class="row">
                          <div class="col-12">
                            <table class="table table-bordered">
                              <thead>
                              <tr>
                                <th>書類ID</th>
                                <th>EDINETコード</th>
                                <th>書類種別</th>
                                <th>対象年</th>
                                <th>DL</th>
                                <th>DC</th>
                                <th>NS</th>
                                <th>BS</th>
                                <th>PL</th>
                                <th>RM</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td th:text="${documentDetail.document.documentId}">書類ID</td>
                                <td th:text="${documentDetail.document.edinetCode}">EDINETコード</td>
                                <td th:text="${documentDetail.document.documentTypeName}">書類種別</td>
                                <td th:text="${documentDetail.document.documentPeriod}">対象年</td>
                                <td th:text="${documentDetail.document.downloaded}">ダウンロード</td>
                                <td th:text="${documentDetail.document.decoded}">デコード</td>
                                <td th:text="${documentDetail.document.scrapedNumberOfShares}">NS</td>
                                <td th:text="${documentDetail.document.scrapedBs}">BS</td>
                                <td th:text="${documentDetail.document.scrapedPl}">PL</td>
                                <td>
                                  <form method="post" th:action="@{/v1/remove/document}">
                                    <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                           name="submitDate"/>
                                    <input type="hidden" th:value="${documentDetail.document.documentId}"
                                           name="documentId"/>
                                    <button type="submit" class="btn btn-default">除外</button>
                                  </form>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <form method="post" th:action="@{/v2/scrape/id}">
                              <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}" name="date"/>
                              <input type="hidden" th:value="${documentDetail.document.documentId}" name="documentId"/>
                              <button type="submit" class="btn btn-block btn-outline-info">スクレイピング/分析する</button>
                            </form>
                          </div>
                          <div class="col-6">
                            <form method="post" th:action="@{/v1/update/all-done/status}">
                              <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}" name="date"/>
                              <input type="hidden" th:value="${documentDetail.document.documentId}" name="documentId"/>
                              <button type="submit" class="btn btn-block btn-outline-info">ステータス更新：すべて完了</button>
                            </form>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="card-body">
                              <div class="callout callout-info">
                                <dl class="row">
                                  <dt>BS</dt>
                                  <dd>
                                    <a th:text="${documentDetail.document.bsDocumentPath}"
                                       th:href="${documentDetail.document.bsDocumentPath}" target="_blank">
                                      BS
                                    </a>
                                  </dd>
                                  <dt>PL</dt>
                                  <dd>
                                    <a th:text="${documentDetail.document.plDocumentPath}"
                                       th:href="${documentDetail.document.plDocumentPath}" target="_blank">
                                      PL
                                    </a>
                                  </dd>
                                  <dt>NS</dt>
                                  <dd>
                                    <a th:text="${documentDetail.document.numberOfSharesDocumentPath}"
                                       th:href="${documentDetail.document.numberOfSharesDocumentPath}" target="_blank">
                                      NS
                                    </a>
                                  </dd>
                                </dl>
                              </div>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="card-body">
                              <div class="callout callout-info">
                                <dl class="row">

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.totalCurrentAssets.name}">
                                    流動資産合計
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalCurrentAssets.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalCurrentAssets.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalCurrentAssets.subjectId}"
                                             name="subjectId"/>
                                      <label for="totalCurrentAssets">
                                        <input type="number" id="totalCurrentAssets" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalCurrentAssets.value != null}"
                                      th:text="${documentDetail.financeValue.totalCurrentAssets.value}">
                                    流動資産合計
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.totalInvestmentsAndOtherAssets.name}">
                                    投資その他の資産合計
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalInvestmentsAndOtherAssets.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalInvestmentsAndOtherAssets.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalInvestmentsAndOtherAssets.subjectId}"
                                             name="subjectId"/>
                                      <label for="totalInvestmentsAndOtherAssets">
                                        <input type="number" id="totalInvestmentsAndOtherAssets" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalInvestmentsAndOtherAssets.value != null}"
                                      th:text="${documentDetail.financeValue.totalInvestmentsAndOtherAssets.value}">
                                    投資その他の資産合計
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.totalAssets.name == '資産合計'?
                                       '総資産' : documentDetail.financeValue.totalAssets.name}">
                                    総資産
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalAssets.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalAssets.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalAssets.subjectId}"
                                             name="subjectId"/>
                                      <label for="totalAssets">
                                        <input type="number" id="totalAssets" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalAssets.value != null}"
                                      th:text="${documentDetail.financeValue.totalAssets.value}">
                                    総資産
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.totalCurrentLiabilities.name}">
                                    流動負債合計
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalCurrentLiabilities.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalCurrentLiabilities.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalCurrentLiabilities.subjectId}"
                                             name="subjectId"/>
                                      <label for="totalCurrentLiabilities">
                                        <input type="number" id="totalCurrentLiabilities" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalCurrentLiabilities.value != null}"
                                      th:text="${documentDetail.financeValue.totalCurrentLiabilities.value}">
                                    流動負債合計
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.totalFixedLiabilities.name}">
                                    固定負債合計
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalFixedLiabilities.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalFixedLiabilities.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.totalFixedLiabilities.subjectId}"
                                             name="subjectId"/>
                                      <label for="totalFixedLiabilities">
                                        <input type="number" id="totalFixedLiabilities" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.totalFixedLiabilities.value != null}"
                                      th:text="${documentDetail.financeValue.totalFixedLiabilities.value}">
                                    固定負債合計
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.subscriptionWarrant.name}">
                                    新株予約権
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.subscriptionWarrant.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.subscriptionWarrant.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.subscriptionWarrant.subjectId}"
                                             name="subjectId"/>
                                      <label for="subscriptionWarrant">
                                        <input type="number" id="subscriptionWarrant" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.subscriptionWarrant.value != null}"
                                      th:text="${documentDetail.financeValue.subscriptionWarrant.value}">
                                    新株予約権
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.netAssets.name == '純資産合計'?
                                       '純資産' : documentDetail.financeValue.netAssets.name}">
                                    純資産
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.netAssets.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.netAssets.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.netAssets.subjectId}"
                                             name="subjectId"/>
                                      <label for="netAssets">
                                        <input type="number" id="netAssets" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.netAssets.value != null}"
                                      th:text="${documentDetail.financeValue.netAssets.value}">
                                    純資産
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.operatingProfit.name}">
                                    営業利益
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.operatingProfit.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.operatingProfit.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.operatingProfit.subjectId}"
                                             name="subjectId"/>
                                      <label for="operatingProfit">
                                        <input type="number" id="operatingProfit" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.operatingProfit.value != null}"
                                      th:text="${documentDetail.financeValue.operatingProfit.value}">
                                    営業利益
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.netIncome.name}">
                                    当期純利益
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.netIncome.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.netIncome.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.netIncome.subjectId}"
                                             name="subjectId"/>
                                      <label for="netIncome">
                                        <input type="number" id="netIncome" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.netIncome.value != null}"
                                      th:text="${documentDetail.financeValue.netIncome.value}">
                                    当期純利益
                                  </dd>

                                  <dt class="col-sm-6"
                                      th:text="${documentDetail.financeValue.numberOfShares.name}">
                                    株式総数
                                  </dt>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.numberOfShares.value == null}">
                                    <form method="post" th:action="@{/v1/fix-fundamental-value}">
                                      <input type="hidden" th:value="${edinetDetail.edinetList.submitDate}"
                                             name="submitDate"/>
                                      <input type="hidden" th:value="${documentDetail.document.edinetCode}"
                                             name="edinetCode"/>
                                      <input type="hidden" th:value="${documentDetail.document.documentId}"
                                             name="documentId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.numberOfShares.financialStatementId}"
                                             name="financialStatementId"/>
                                      <input type="hidden"
                                             th:value="${documentDetail.financeValue.numberOfShares.subjectId}"
                                             name="subjectId"/>
                                      <label for="numberOfShares">
                                        <input type="number" id="numberOfShares" name="value"/>
                                      </label>
                                      <button type="submit" class="btn btn-default">登録</button>
                                    </form>
                                  </dd>
                                  <dd class="col-sm-6"
                                      th:if="${documentDetail.financeValue.numberOfShares.value != null}"
                                      th:text="${documentDetail.financeValue.numberOfShares.value}">
                                    株式総数
                                  </dd>
                                </dl>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
</html>
