<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            rel="stylesheet">
    <title>EDINETリスト</title>
</head>

<body>
<div class="container">
    <h1>EDINETリスト</h1>
    <p th:if="${error}" class="alert alert-danger" role="alert">
        <th:block th:each="error: ${error}"><!-- 改行コードでsplitしてループ -->
            <th:block th:text="${error}"/>
            <br/>
        </th:block>
    </p>
    <p th:if="${message}" class="alert alert-info" role="alert">
        <th:block th:each="message: ${message}"><!-- 改行コードでsplitしてループ -->
            <th:block th:text="${message}"/>
            <br/>
        </th:block>
    </p>
    <label>会社リスト更新日：</label>
    <p th:text="${companyUpdated}"></p>
    <form method="post" th:action="@{/fundanalyzer/v1/edinet/list}">
        <input type="date" name="fromDate"/> ～
        <input type="date" name="toDate"/>
        <button type="submit" class="btn">取得する</button>
    </form>
    <div class="row">
        <div class="col-lg-2">
            <form method="get" th:action="@{/fundanalyzer/v1/edinet/list/all}">
                <button type="submit" class="btn">すべてのリストをみる</button>
            </form>
        </div>
        <div class="col-lg-1">
            <form method="get" th:action="@{/fundanalyzer/v1/edinet/list}">
                <button type="submit" class="btn">通常</button>
            </form>
        </div>
    </div>
    <form method="post" th:action="@{/fundanalyzer/v1/reset/status}">
        <button type="submit" class="btn">ステータス初期化</button>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>提出日</th>
            <th>総件数</th>
            <th>処理対象件数</th>
            <th>処理済件数</th>
            <th>分析済件数</th>
            <th>未分析コード</th>
            <th>処理確認コード</th>
            <th>未処理件数</th>
            <th>対象外件数</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="edinet : ${edinetList}">
            <td th:text="${edinet.submitDate}">提出日</td>
            <td th:text="${edinet.countAll}">総件数</td>
            <td th:text="${edinet.countTarget}">処理対象件数</td>
            <td th:text="${edinet.countScraped}">処理済件数</td>
            <td th:text="${edinet.countAnalyzed}">分析済件数</td>
            <td th:text="${edinet.notAnalyzedCode}">未分析コード</td>
            <td th:text="${edinet.cantScrapedCode}">処理確認コード</td>
            <td th:text="${edinet.countNotScraped}">未処理件数</td>
            <td th:text="${edinet.countNotTarget}">対象外件数</td>
        </tr>
        </tbody>
    </table>
    <!--<a href="search.html" th:href="@{/search}">Back</a> &lt;!&ndash;/* (6) */&ndash;&gt;-->
</div>
</body>
</html>