<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Error</title>
</head>

<body>
<aside>
  <div>
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
          layout:fragment="menu">
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-building"></i>
            <p>
              Corporate
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/index}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'quart'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quart Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'favorite'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Favorite Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-list-check"></i>
            <p>
              Edinet
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-chart-line"></i>
            <p>
              Valuation
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/valuation}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'favorite'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Favorite Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'industry'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Industry Dashboard</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div layout:fragment="contents">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/v2/index}">Home</a></li>
              <li class="breadcrumb-item active">Error</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="error-page">
        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i>そのページは存在しません</h3>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
</html>
