<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Dashboard</title>

  <div layout:fragment="link">
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
  </div>
</head>

<body>
<aside>
  <div>
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
          layout:fragment="menu">
        <li class="nav-item menu-open">
          <a class="nav-link active">
            <i class="nav-icon fa-solid fa-building"></i>
            <p>
              Corporate
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <th:block th:if="${target} == null">
                <a th:href="@{/v2/index}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Main Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == null">
                <a th:href="@{/v2/index}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Main Dashboard</p>
                </a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${target} == 'quart'">
                <a th:href="@{/v2/index(target=${'quart'})}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quart Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == 'quart'">
                <a th:href="@{/v2/index(target=${'quart'})}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quart Dashboard</p>
                </a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${target} == 'all'">
                <a th:href="@{/v2/index(target=${'all'})}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == 'all'">
                <a th:href="@{/v2/index(target=${'all'})}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Dashboard</p>
                </a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${target} == 'favorite'">
                <a th:href="@{/v2/index(target=${'favorite'})}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Favorite Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == 'favorite'">
                <a th:href="@{/v2/index(target=${'favorite'})}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Favorite Dashboard</p>
                </a>
              </th:block>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-list-check"></i>
            <p>
              Edinet
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-chart-line"></i>
            <p>
              Valuation
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/valuation}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'favorite'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Favorite Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/valuation(target=${'industry'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Industry Dashboard</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div layout:fragment="contents">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">会社一覧</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/v2/index}">Home</a></li>
              <li class="breadcrumb-item active">Corporate Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div th:if="${message} != null">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">財務諸表の取得と分析をする</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <form method="post" th:action="@{/v1/document/analysis}">
                    <div class="input-group">
                      <label for="calender">Date range:</label>
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-left" id="calender" name="fromToDate">
                      <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">書類IDから取得と分析する</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <form method="post" th:action="@{/v1/scrape/id}">
                    <div class="input-group">
                      <label for="documentId">Document ID:</label>
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-keyboard"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-right" id="documentId" name="documentId"
                             placeholder="書類ID"/>
                      <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>コード</th>
                    <th>会社名</th>
                    <th>提出日</th>
                    <th>最新企業価値</th>
                    <th>変動係数</th>
                    <th>株価平均</th>
                    <th>割安比率</th>
                    <th>対象年数</th>
                  </tr>
                  </thead>
                  <tbody>
                  <div th:each="company : ${companies}">
                    <tr th:if="${company.isMainReport()}" class="table-info">
                      <td><a th:text="${company.code}" th:href="'https://minkabu.jp/stock/'+${company.code}"
                             target="_blank">
                        証券コード
                      </a></td>
                      <td><a th:text="${company.name}" th:href="@{/v2/corporate(code=${company.code})}">
                        会社名
                      </a></td>
                      <td th:text="${company.submitDate}">提出日</td>
                      <td th:text="${company.latestCorporateValue}">最新企業価値</td>
                      <td th:text="${company.allCoefficientOfVariation}">変動係数</td>
                      <td th:text="${company.averageStockPrice}">株価平均</td>
                      <td th:text="${company.allDiscountRate}">割安比率</td>
                      <td th:text="${company.countYear}">対象年数</td>
                    </tr>

                    <tr th:unless="${company.isMainReport()}">
                      <td><a th:text="${company.code}" th:href="'https://minkabu.jp/stock/'+${company.code}"
                             target="_blank">証券コード</a></td>
                      <td><a th:text="${company.name}" th:href="@{/v2/corporate(code=${company.code})}">
                        会社名
                      </a></td>
                      <td th:text="${company.submitDate}">提出日</td>
                      <td th:text="${company.latestCorporateValue}">最新企業価値</td>
                      <td th:text="${company.allCoefficientOfVariation}">変動係数</td>
                      <td th:text="${company.averageStockPrice}">株価平均</td>
                      <td th:text="${company.allDiscountRate}">割安比率</td>
                      <td th:text="${company.countYear}">対象年数</td>
                    </tr>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div layout:fragment="script">
  <!-- InputMask -->
  <script th:src="@{/plugins/moment/moment.min.js}"></script>
  <script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>
  <!-- date-range-picker -->
  <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
  <!-- Plugins -->
  <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
  <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/jszip/jszip.min.js}"></script>
  <script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
  <script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

  <!-- Page specific script -->
  <script>
      $(function () {
          //Date range picker
          $('#calender').daterangepicker()

          $("#example1").DataTable({
              // @formatter:off
              "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
              },
              "lengthChange": true,
              "displayLength": 15,
              "lengthMenu": [ 10, 15, 25, 50, 100 ],
              "searching": true,
              "ordering": true,
              "order": [ [ 2, 'desc' ], [ 1, 'asc' ] ],
              "info": true,
              "autoWidth": true,
              "responsive": true,
              "stateSave": true,
              "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
              // @formatter:on
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      });
  </script>
</div>
</body>
</html>
