<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Valuation</title>

  <div layout:fragment="link">
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
  </div>
</head>

<body>
<aside>
  <div>
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
          layout:fragment="menu">
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-building"></i>
            <p>
              Corporate
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/index}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'quart'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quart Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/index(target=${'favorite'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Favorite Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa-solid fa-list-check"></i>
            <p>
              Edinet
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/v2/edinet-list(target=${'all'})}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Dashboard</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item menu-open">
          <a class="nav-link active">
            <i class="nav-icon fa-solid fa-chart-line"></i>
            <p>
              Valuation
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <th:block th:if="${target} == null">
                <a th:href="@{/v2/valuation}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Main Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == null">
                <a th:href="@{/v2/valuation}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Main Dashboard</p>
                </a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${target} == 'all'">
                <a th:href="@{/v2/valuation(target=${'all'})}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == 'all'">
                <a th:href="@{/v2/valuation(target=${'all'})}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Dashboard</p>
                </a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${target} == 'favorite'">
                <a th:href="@{/v2/valuation(target=${'favorite'})}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Favorite Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == 'favorite'">
                <a th:href="@{/v2/valuation(target=${'favorite'})}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Favorite Dashboard</p>
                </a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${target} == 'industry'">
                <a th:href="@{/v2/valuation(target=${'industry'})}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Industry Dashboard</p>
                </a>
              </th:block>
              <th:block th:unless="${target} == 'industry'">
                <a th:href="@{/v2/valuation(target=${'industry'})}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Industry Dashboard</p>
                </a>
              </th:block>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div layout:fragment="contents">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">株価評価</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/v2/index}">Home</a></li>
              <li class="breadcrumb-item active">Valuation Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div th:if="${message} != null">
          <div class="alert alert-default-success alert-dismissible fade show" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">企業の株価を取得する（書類提出日を指定してください）</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <form method="post" th:action="@{/v2/import/stock/date}">
                    <div class="input-group">
                      <label for="calender">Date range:</label>
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-left" id="calender" name="fromToDate">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">株価を評価する</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <form method="post" th:action="@{/v2/evaluate}">
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <th:block th:unless="${target} == 'industry'">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <table id="companyTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>コード</th>
                      <th>会社名</th>
                      <th>日付</th>
                      <th>株価</th>
                      <th>増減値</th>
                      <th>増減率</th>
                      <th>提出日</th>
                      <th>提出日の株価平均</th>
                      <th>最新企業価値</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="company : ${valuations}">
                      <td th:text="${company.code}">コード</td>
                      <td><a th:text="${company.name}" th:href="@{/v2/corporate(code=${company.code})}">
                        会社名
                      </a></td>
                      <td th:text="${company.targetDate}">対象日付</td>
                      <td th:text="${company.stockPrice}">株価終値</td>
                      <td>
                        <div th:if="${company.differenceFromSubmitDate} > 0">
                          <span class="text-primary" th:text="'+'+${company.differenceFromSubmitDate}">提出日との差</span>
                          <i class="text-primary fa-solid fa-arrow-up"></i>
                        </div>
                        <div th:if="${company.differenceFromSubmitDate} == 0">
                          <span class="text-dark" th:text="${company.differenceFromSubmitDate}">提出日との差</span>
                          <i class="text-dark fa-solid fa-arrows"></i>
                        </div>
                        <div th:if="${company.differenceFromSubmitDate} < 0">
                          <span class="text-danger" th:text="${company.differenceFromSubmitDate}">提出日との差</span>
                          <i class="text-danger fa-solid fa-arrow-down"></i>
                        </div>
                      </td>
                      <td th:text="${company.submitDateRatio}">提出日比率</td>
                      <td th:text="${company.submitDate}">提出日</td>
                      <td th:text="${company.averageStockPrice}">提出日の株価平均</td>
                      <td th:text="${company.latestCorporateValue}">最新企業価値</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </th:block>
        <th:block th:if="${target} == 'industry'">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="industryTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>業種名</th>
                      <th>増減値</th>
                      <th>増減率</th>
                      <th>企業数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="industry : ${valuations}">
                      <td th:text="${industry.name}">業種名</td>
                      <td>
                        <div th:if="${industry.differenceFromSubmitDate} > 0">
                          <span class="text-primary"
                                th:text="'+'+${industry.differenceFromSubmitDate}">提出日との差</span>
                          <i class="text-primary fa-solid fa-arrow-up"></i>
                        </div>
                        <div th:if="${industry.differenceFromSubmitDate} == 0">
                          <span class="text-dark" th:text="${industry.differenceFromSubmitDate}">提出日との差</span>
                          <i class="text-dark fa-solid fa-arrows"></i>
                        </div>
                        <div th:if="${industry.differenceFromSubmitDate} < 0">
                          <span class="text-danger" th:text="${industry.differenceFromSubmitDate}">提出日との差</span>
                          <i class="text-danger fa-solid fa-arrow-down"></i>
                        </div>
                      </td>
                      <td th:text="${industry.submitDateRatio}">提出日比率</td>
                      <td th:text="${industry.count}">企業数</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </section>
  </div>
</div>

<div layout:fragment="script">
  <!-- InputMask -->
  <script th:src="@{/plugins/moment/moment.min.js}"></script>
  <script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>
  <!-- date-range-picker -->
  <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
  <!-- Plugins -->
  <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
  <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/jszip/jszip.min.js}"></script>
  <script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
  <script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
  <script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

  <!-- Page specific script -->
  <script>
      $(function () {
          //Date range picker
          $('#calender').daterangepicker()

          $("#companyTable").DataTable({
              // @formatter:off
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
            },
            "lengthChange": true,
            "displayLength": 15,
            "lengthMenu": [ 10, 15, 25, 50, 100 ],
            "searching": true,
            "ordering": true,
            "order": [ [ 2, 'desc' ], [ 4, 'desc' ] ],
            "info": true,
            "autoWidth": true,
            "responsive": true,
            "stateSave": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            // @formatter:on
          });

          $("#industryTable").DataTable({
              // @formatter:off
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
            },
            "lengthChange": true,
            "displayLength": 15,
            "lengthMenu": [ 10, 15, 50 ],
            "searching": false,
            "ordering": true,
            "order": [ [ 2, 'desc' ] ],
            "info": false,
            "autoWidth": true,
            "responsive": true,
            "stateSave": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            // @formatter:on
          });

      });
  </script>
</div>
</body>
</html>
